---
layout: default
---
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 m10">
            <div class="card">
                <h1 class="card-title"> Impressum </h1>
                <!-- Replace with contact-getform or contact-formspree -->
                {%- include contact-getform.html -%}


                <h5>Zugehörig zur:</h5><br/>
                <p>
                Jakob-Gemeinde e. V.<br/>
                Gemeinde im Mülheimer Verband<br/>
                Freikirchlich-Evangelischer Gemeinden<br/>
                Rigaer Str. 86<br/>
                10247 Berlin<br/>
                </p>
                <h5>Datenschutz</h5>
                <br/>
                <p>
                    Auf unserer Website werden keinerlei Daten gesammelt, gespeichert und weiterverarbeitet. So wahren wir
                    alle Verordnungen der DSGVO.<br/>
                </p>
                <p>
                Haftungsausschluss<br/>
                </p>
                <h6> 1. Inhalt des Onlineangebotes</h6><br/>
                <p>
                    Die Informationen auf unseren Internetseiten werden mit größter Sorgfalt erstellt. Der Stammposten 562
                    der christlichen Pfadfinderschaft Royal Rangers übernimmt jedoch keine Gewährleistung für deren
                    Vollständigkeit oder Eignung für bestimmte Verwendungszwecke. Sämtliche Aussagen auf dieser Seite dienen
                    allein der Information und sind nicht verbindlich. Eine Haftung für Schäden, materieller oder ideeller
                    Art, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung
                    fehlerhafter und unvollständiger Informationen verursacht wurden, wird nicht übernommen, sofern seitens
                    des Stammpostens kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Der
                    Stammposten behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
                    Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig
                    einzustellen.<br/>
                </p>
                <h6> 2. Verweise und Links</h6><br/>
                <p>
                Unsere Webseiten enthalten auch weiterführende Links zu Webseiten anderer Anbieter. Für fremde Inhalte,
                die über solche Links erreichbar sind, ist der Stammposten nicht verantwortlich. Bei der ersten
                Verknüpfung wurde das fremde Angebot auf rechtswidrige Inhalte überprüft. Rechtswidrige Inhalte waren zu
                diesem Zeitpunkt nicht erkennbar. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die
                Urheberschaft der gelinkten/verknüpften Seiten hat der Stammposten keinerlei Einfluss. Eine permanente
                inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
                Rechtsverletzung nicht zumutbar. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten
                aller gelinkten/verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt
                für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise. Für illegale, fehlerhafte
                oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
                solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite.<br/>
                </p>
                    <h6> 3. Rechtswirksamkeit dieses Haftungsausschlusses</h6><br/>
                <p>
                Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite
                verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht,
                nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem
                Inhalt und ihrer Gültigkeit davon unberührt.<br/>
                </p>


            </div>
        </div>
    </div>
</div>



